<launch>

    <arg name="teach" default="true"/>
    <arg name="recognize" default="false"/>

    <include file="$(find astra_launch)/launch/astra.launch"/>
    
        <!-- ROSbot 2.0 -->
    <include file="$(find rosbot_ekf)/launch/all.launch"/>

        <!-- ROSbot 2.0 PRO -->
    <!-- <include file="$(find rosbot_ekf)/launch/all.launch" >
      <arg name="rosbot_pro" value="true" />
    </include> -->

    <node pkg="image_transport" type="republish" name="rgb_compress" args=" raw in:=/camera/rgb/image_raw compressed out:=/rgb_republish"/>

</launch>
